<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Saltr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SaltrResource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SaltrTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA1FC1F618B3B8D600E92A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA1FC20618B3B8D600E92A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD55D6DB18C0879800222E8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD55D6FA18C0879800222E8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDD7408D18BFC0FA00F2306D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
