
Saltr.xcodeproj/project.xcworkspace/xcshareddata/Saltr.xccheckout

Saltr.xcodeproj/xcuserdata/gohar.xcuserdatad/xcschemes/Saltr.xcscheme

Saltr.xcodeproj/project.xcworkspace/xcuserdata/gohar.xcuserdatad/WorkspaceSettings.xcsettings

Saltr.xcodeproj/xcuserdata/gohar.xcuserdatad/xcschemes/saltr-ios-sdk.xcscheme

Saltr.xcodeproj/project.xcworkspace/xcuserdata/gohar.xcuserdatad/UserInterfaceState.xcuserstate

Saltr.xcodeproj/project.xcworkspace/xcuserdata/Tigran.xcuserdatad/UserInterfaceState.xcuserstate

Saltr.xcodeproj/project.xcworkspace/xcuserdata/tigranhakobyan.xcuserdatad/UserInterfaceState.xcuserstate

Saltr.xcodeproj/xcuserdata/tigranhakobyan.xcuserdatad/xcschemes/Saltr.xcscheme

Saltr.xcodeproj/xcuserdata/tigranhakobyan.xcuserdatad/xcschemes/SaltrResource.xcscheme

Saltr.xcodeproj/xcuserdata/tigranhakobyan.xcuserdatad/xcschemes/SaltrTestApp.xcscheme

Saltr.xcodeproj/xcuserdata/tigranhakobyan.xcuserdatad/xcschemes/xcschememanagement.plist
